div {
	background-size: 100% 100% !important;
	background-repeat: no-repeat;
	width: 800px;
	height: 600px;
	margin: 10px;
}

.background-1 {
	background: url("images/1.jpg");
}

.background-2 {
	background: url("images/2.jpg");
}

.background-3 {
	background: url("images/3.jpg");
}

.background-4 {
	background: url("images/4.jpg");
}

.background-5 {
	background: url("images/5.jpg");
}

.background-6 {
	background: url("images/6.jpg");
}

.background-7 {
	background: url("images/7.jpg");
}

.background-8 {
	background: url("images/8.jpg");
}

.background-9 {
	background: url("images/9.jpg");
}

.background-10 {
	background: url("images/10.jpg");
}

.background-11 {
	background: url("images/11.jpg");
}

.background-12 {
	background: url("images/12.jpg");
}

.background-13 {
	 background: url("images/13.jpg");
 }

.background-14 {
	background: url("images/14.jpg");
}

.background-15 {
	background: url("images/15.jpg");
}

.background-16 {
	background: url("images/16.jpg");
}

.background-17 {
	background: url("images/17.jpg");
}

.background-18 {
	background: url("images/18.jpg");
}