div {
	background-size: 100% 100% !important;
	background-repeat: no-repeat;
	width: 800px;
	height: 600px;
	margin: 10px;
}

.background-1 {
	background: linear-gradient(rgb(151, 189, 212), rgb(173, 155, 147));
}

.background-2 {
	background: linear-gradient(rgb(206, 0, 0), rgb(206, 0, 0));
}

.background-3 {
	background: linear-gradient(rgb(174, 193, 183), rgb(1, 20, 11));
}

.background-4 {
	background: linear-gradient(rgb(85, 118, 12), rgb(82, 118, 8));
}

.background-5 {
	background: linear-gradient(rgb(1, 94, 253), rgb(6, 43, 205));
}